@import url("https://use.typekit.net/yrm2sft.css");
:root {
  --blue: #57cffa;
  --grey: #a7a9ac;
  --black: #202020;
  --purple: #c0a6f1;
}

body {
  font-family: futura-pt, sans-serif;
  color: var(--grey);
  background-color: var(--black);
  margin-left: 2em;
  margin-right: 2em;
}

h1 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  color: white;
  padding-left: 2em;
}

h3 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: var(--blue);
}

p {
  font-size: 2em;
}

header {
  display: flex;
  align-items: center;
  margin: 2em;
  justify-content: space-around;
}
header img {
  height: 10em;
  width: auto;
}

#earth_miles {
  color: var(--purple);
  font-size: 2em;
}

.miles_converter {
  display: grid;
  justify-content: center;
}

#earth_mars {
  height: 2em;
  width: auto;
}

input {
  background-color: white;
  font-family: novecento-sans-wide, sans-serif;
  border-style: hidden;
  border-radius: 15px;
  padding: 15px 32px;
  font-size: 1em;
}

.supplies {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stats-img {
  height: 10em;
  width: 10em;
}

.stats {
  display: block;
  padding: 2em;
}

.hidden {
  display: none;
}

#water_data {
  font-size: 3em;
  font-family: novecento-sans-wide, sans-serif;
  color: white;
}

.data_button {
  background-color: var(--purple);
  font-family: novecento-sans-wide, sans-serif;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}
.data_button:hover {
  background-color: white;
}
