@import url("https://use.typekit.net/yrm2sft.css");

:root {
  --blue: #005288;
  --grey: #a7a9ac;
  --black: #202020;
  --pie_orange: #f68121;
  --pie_blue: #265599;
  --pie_light_blue: #63a6b9;
  --pie_purple: #576eb2;
  --pie_green: #269958;
  --pie_pink: #cb5ae6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: futura-pt, sans-serif;
  color: var(--grey);
  background-color: var(--black);
  margin-left: 2em;
  margin-right: 2em;
}
h3 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 2.5em;
}

.layout {
  display: flex;
  justify-content: flex-start;
}
.layout_wrapper {
  margin: 2em;
}

/*#piechart{
  margin-top: 300px;
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
background: 
 conic-gradient(
  #F68121 0,
  #F68121 38%,
  #265599 0,
  #265599 61%,
  #63A6B9 0,
  #63A6B9 77%,
  #576EB2 0,
  #576EB2 87%,
  #269958 0,
  #269958 93%,
  #CB5AE6 0,
  #CB5AE6 100%
);
 } */
/*
 .pieContainer {
  height: 20em;
  width: 20em;
  position: relative;
}



.pie {

  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 100%;

}

.hold {
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 100%;

}


#pie1 {
  background-color: #F68121;
  height: 10em;
  width: 10em;
  border-radius: 5em;
}

#pie2 {
  background-color: #265599;
 height: 10em;
  width: 10em;
  border-radius: 100% 0 0 0;

}

#pie3{
  background-color: #63A6B9;
  height: 10em;
  width: 10em;
  border-radius: 0 100% 0 0;
}

#pie4 {
  background-color: #576EB2;
  height: 10em;
  width: 10em;
  border-radius: 0 0 100% 0;
}

#pie5 {
  background-color: #CB5AE6;
  width: 10em;
  height: 10em;
  border-radius: 0 0 0 100%;

}
*/
.first_chart {
  position: relative;
}
.chart_2 > span,
.chart_2 > p {
  display: inline-block;
}

.color1 {
  background: #f1ac62;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.color2 {
  background: #f4f483;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
}
.color3 {
  background: #ea5a6c;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
}
.color4 {
  background: #1ad8c1;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
}
.color5 {
  background: #f1b3fb;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
}
.color6 {
  background: #77d7f2;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
}
